SECRET_KEY=# generate secret offline with os.urandom(16).hex()
API_HOST=0.0.0.0
API_PORT=8080
API_URL=https://getwvkeys.cc
LOGIN_DISABLED=false
OAUTH2_CLIENT_ID=# Discord OAuth Client ID
OAUTH2_CLIENT_SECRET=# Discord OAuth Client Secret
OAUTH2_REDIRECT_URL=https://getwvkeys.cc/login/callback
SQLALCHEMY_DATABASE_URI=mysql+mysqldb://user:password@host/database
RABBIT_URI=amqp://guest:guest@localhost:5672/%2F
MAX_SESSIONS=60
DEFAULT_CDMS=test
APPENDERS=
GUILD_ID=
VERIFIED_ROLE=
SYSTEM_CDMS="google/sdk_google_phone_x86/generic_x86:7.1.1/NYC/5464897:userdebug/test-keys"