SECRET_KEY=# generate secret offline with os.urandom(16).hex()
OAUTH2_CLIENT_ID=# Discord OAuth Client ID
OAUTH2_CLIENT_SECRET=# Discord OAuth Client Secret
OAUTH2_REDIRECT_URL=https://getwvkeys.cc/login/callback
SQLALCHEMY_DATABASE_URI=mysql+mysqldb://user:password@host/database
API_PORT=8080
RABBIT_URI=amqp://guest:guest@localhost:5672/%2F