{% extends "base.html" %} {% block title %}API Request{% endblock %} {% block content %}
<section class="api-request">
  <header>
    <h1 class="section-title">Send API Request</h1>
  </header>
  <div class="requests-container">
    <div class="request-item">
      <h2>Curl</h2>
      <p>curl https://getwvkeys.cc/api -d "{\"license\": \"https://widevine-proxy.appspot.com/proxy\",\"pssh\":\"AAAAW3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADsIARIQ62dqu8s0Xpa7z2FmMPGj2hoNd2lkZXZpbmVfdGVzdCIQZmtqM2xqYVNkZmFsa3IzaioCSEQyAA==\",\"cache\":false}" -H "Referer: https://getwvkeys.cc" -H "X-API-Key: {{ current_user.api_key if current_user.api_key else "YOUR API KEY HERE" }}"</p>
    </div>
    <div class="request-item">
      <h2>Python</h2>
      <p>
        import requests,json<br />
        api_url = "https://getwvkeys.cc/api"<br />
        license_url = "https://widevine-proxy.appspot.com/proxy"<br />
        pssh = "AAAAW3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAADsIARIQ62dqu8s0Xpa7z2FmMPGj2hoNd2lkZXZpbmVfdGVzdCIQZmtqM2xqYVNkZmFsa3IzaioCSEQyAA=="<br />
        headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (Ktesttemp, like Gecko) Chrome/90.0.4430.85 Safari/537.36', 'X-API-Key': '{{ current_user.api_key if current_user.api_key else "YOUR API KEY HERE" }}'}<br />
        r = requests.post(api_url,headers=headers ,json={"license":license_url,"pssh":pssh}).text<br />
        print(r)
      </p>
    </div>
    <div class="request-item">
      <h2>JSON</h2>
      <p>{ "license":"license url required", "pssh":"your pssh required", "proxy":"proxy if needed", "buildinfo":"CDM BLOB BUILD ID", "cache":true }</p>
    </div>
  </div>
</section>
{% endblock %}
