{% extends "base.html" %} {% block title %}API Request{% endblock %} {% block content %}
<section class="api-request">
  <header>
    <h1 class="section-title">Send API Request</h1>
  </header>
  <div class="requests-container">
    <div class="request-item">
      <h2>Curl</h2>
      <p>
        curl https://getwvkeys.cc/api -d "{\"license_url\":
        \"https://cwip-shaka-proxy.appspot.com/no_auth\",\"pssh\":\"AAAAp3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAAIcSEFF0U4YtQlb9i61PWEIgBNcSEPCTfpp3yFXwptQ4ZMXZ82USEE1LDKJawVjwucGYPFF+4rUSEJAqBRprNlaurBkm/A9dkjISECZHD0KW1F0Eqbq7RC4WmAAaDXdpZGV2aW5lX3Rlc3QiFnNoYWthX2NlYzViZmY1ZGM0MGRkYzlI49yVmwY=\",\"cache\":false}"
        -H "Referer: https://getwvkeys.cc" -H "X-API-Key: {{ current_user.api_key if
        current_user.api_key else "YOUR API KEY HERE" }}"
      </p>
    </div>
    <div class="request-item">
      <h2>Python</h2>
      <p>
        import requests,json<br />
        api_url = "https://getwvkeys.cc/api"<br />
        license_url = "https://cwip-shaka-proxy.appspot.com/no_auth"<br />
        pssh =
        "AAAAp3Bzc2gAAAAA7e+LqXnWSs6jyCfc1R0h7QAAAIcSEFF0U4YtQlb9i61PWEIgBNcSEPCTfpp3yFXwptQ4ZMXZ82USEE1LDKJawVjwucGYPFF+4rUSEJAqBRprNlaurBkm/A9dkjISECZHD0KW1F0Eqbq7RC4WmAAaDXdpZGV2aW5lX3Rlc3QiFnNoYWthX2NlYzViZmY1ZGM0MGRkYzlI49yVmwY="<br />
        headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
        (Ktesttemp, like Gecko) Chrome/90.0.4430.85 Safari/537.36', 'X-API-Key': '{{
        current_user.api_key if current_user.api_key else "YOUR API KEY HERE" }}'}<br />
        r = requests.post(api_url,headers=headers
        ,json={"license_url":license_url,"pssh":pssh}).text<br />
        print(r)
      </p>
    </div>
    <div class="request-item">
      <h2>JSON</h2>
      <p>
        { "license_url":"license url required", "pssh":"your pssh required", "proxy":"proxy if
        needed", "buildinfo":"CDM BLOB BUILD ID", "cache":true }
      </p>
    </div>
  </div>
</section>
{% endblock %}
