<nav>
  <ul class="nav-list">
    {% if current_user.is_authenticated %}
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/upload">Upload</a></li>
    <li class="nav-item"><a href="/api">API</a></li>
    <li class="nav-item"><a href="/scripts">Scripts</a></li>
    <li class="nav-item"><a href="/search">Search</a></li>
    <li class="nav-item"><a href="/faq">FAQ</a></li>
    <div class="dropdown">
      <div class="dropdown-item">
        <img
          class="avatar"
          src="https://cdn.discordapp.com/avatars/{{current_user.id}}/{{current_user.avatar}}.png?size=2048"
          alt="Avatar"
          width="40px"
          height="40px"
        />
        <div class="dropdown-label">
          <div class="dropdown-label-text">{{current_user.username}}</div>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="dropdown-menu">
        <a href="/me">Profile</a>
        <hr />
        <a href="/logout">Logout</a>
      </div>
    </div>
    {% else %}
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/login">Login</a></li>
    {% endif %}
  </ul>
</nav>
