<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - GetWVKeys</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script defer src="{{url_for('static', filename='main.js')}}"></script>
  </head>
  <body>
    {% include 'partials/nav.html' %}

    <!--  flash messages  -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flashes">
      {% for category, message in messages %}
      <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <main>{% block content %}{% endblock %}</main>
    <footer>{% include 'partials/footer.html' %}</footer>
  </body>
</html>
