<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Widevine Keys</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script defer src="/static/search.js"></script>
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="./upload">Upload</a></li>
        <li class="nav-item"><a href="./scripts">Scripts</a></li>
        <li class="nav-item"><a href="./api">API</a></li>
        <li class="nav-item"><a href="./findpssh">Find</a></li>
        <li class="nav-item"><a href="./faq">FAQ</a></li>
      </ul>
    </nav>

    <main>
      <section class="wdvn-request">
        <header>
          <h1 class="section-title">Send Widevine Request</h1>
        </header>
        <div class="form-container">
          <form>
            <div class="form-item">
              <label for="pssh">PSSH/KID:</label>
              <input
                data-lpignore="true"
                type="text"
                id="pssh"
                name="pssh"
                value="a5c03409fcca515485218595ee15602c"
              />
            </div>
            <input type="submit" value="Search" />
          </form>
        </div>
        <div class="info-container">
          <span id="key-count-text">Total key count: </span>
          <span id="key-count">Loading... </span>
          <div class="result-container" id="demo">
            <pre>Send a request to see the result.</pre>
          </div>
        </div>
        <div class="donation-container">
          <table>
            <tbody>
              <tr>
                <th>Coin</th>
                <th>Address</th>
                <th>Network</th>
              </tr>
              <tr>
                <td>BTC&nbsp;&nbsp;</td>
                <td>
                  &nbsp;&nbsp;15nor8BBBaDpwsbf1r7NjMhCP1mnCUtNeM&nbsp;&nbsp;
                </td>
                <td>&nbsp;&nbsp;Bitcoin</td>
              </tr>
              <tr>
                <td>ETH&nbsp;&nbsp;</td>
                <td>
                  &nbsp;&nbsp;0x91af349007877eb1528e5aed186f740febae68f3&nbsp;&nbsp;
                </td>
                <td>&nbsp;&nbsp;Ethereum</td>
              </tr>
              <tr>
                <td>Doge&nbsp;&nbsp;</td>
                <td>
                  &nbsp;&nbsp;D7rQQtHVQKyd67JQwWcK8q1JkyDabc1ZvB&nbsp;&nbsp;
                </td>
                <td>&nbsp;&nbsp;Dogecoin</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
    <footer>
      <p>© notaghost#9997 - 2022</p>
    </footer>
  </body>
</html>