{% extends "base.html" %}
{% block title %}Upload CDM{% endblock %}
{% block content %}
<section class="upload">
  <header>
    <h1 class="section-title">
      Upload your own CDM and use it with API and requests
    </h1>
  </header>
  <div class="upload-container">
      <form action="/upload" method="POST" enctype=multipart/form-data>
          <div class="upload-form-item">
              <label for="blob">device_client_id_blob:</label>
              <input type="file" name="blob" id="blob"/>
          </div>
          <div class="upload-form-item">
              <label for="key">device_private_key:</label>
              <input type="file" name="key" id="key"/>
          </div>
          <input type="submit" value="Submit" />
      </form>
  </div>
</section>
{% endblock %}